<!DOCTYPE html>
<html>
<head>
    <title>Edit Product</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    {% include 'nav.html' %}
    <div class="container mt-5">
        <h1>Edit Product</h1>
        <form method="post" action="/edit_products/{{ combined_index }}">
            <div class="form-group">
                <label for="Customer">Customer</label>
                <input type="text" class="form-control" id="Customer" name="Customer" value="{{ combined['Customer'] }}" required>
            </div>
            <div class="form-group">
                <label for="Product_Group">Product Group</label>
                <input type="text" class="form-control" id="Product_Group" name="Product Group"  value="{{ combined['Product Group'] }}" required>
            </div>
            <div class="form-group">
                <label for="Product_Line">Product Line</label>
                <input type="text" class="form-control" id="Product_Line" name="Product Line" value="{{ combined['Product Line'] }}" required>
            </div>
            <div class="form-group">
                <label for="City">City</label>
                <input type="text" class="form-control" id="City" name="City"  value="{{ combined['City'] }}" required>
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-3d">Update</button>
        </form>
    </div>
</body>
</html>
